name: my first git hub pipeline 

on: 
   push:
    branches: [ "main" ]
   pull_request:
      branches: [ "main" ]

jobs:
   hello-job:
     runs-on: ubuntu-latest

     steps:
        - name: checkoutcode
          uses: actions/checkout@v3

        - name: print a message
          run: echo "Welcome to Github Actions CI/CD!"
     
        - name: system information
          run: echo "$(whoami) $(hostname -I) $(pwd)"
